:root {
  --primary-color: #0174d3;
  --root-color: #032541;
  --secondary-color: #dadada;
}

html::-webkit-scrollbar {
  display: none;
}

:where([data-mantine-color-scheme="light"]) .m_1738fcb2:where([data-active]) {
  color: rgb(251, 253, 255) !important;
}

.m_d57069b5 {
  overflow: visible !important;
}

.m_599a2148:where(:first-child) {
  margin-top: 0 !important;
  border-top: none !important;
}

.m_b5489c3c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mb-padding, var(--mantine-spacing-xs)) !important;
  padding-inline-end: calc(
    var(--mb-padding, var(--mantine-spacing-md)) -
      calc(0.3125rem * var(--mantine-scale))
  );
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  z-index: 1000;
  min-height: calc(2rem * var(--mantine-scale)) !important;
  transition: padding-inline-end 100ms;
}

.m_d0e2b9cd {
  background-color: black !important;
}

.m_5df29311 {
  padding: 0 !important;
  overflow: hidden;
}

.m_220c80f2:where(:not([data-disabled], :disabled)):hover {
  background-color: transparent !important;
}

.mantine-focus-auto:focus-visible {
  outline: 0 !important;
  outline-offset: calc(0.125rem * var(--mantine-scale));
}
